*{
    box-sizing: border-box;
}
:root{
    --body-font-family: 'Messina Sans';
    --heading-font-family: 'Helvetica Neue';
    --font-size-48: 48px;
    --font-size-38: 38px;
    --color-black: #000;
    --color-dark: #131313;
    --color-light: #fff;
    --color-gray: #A7A39C;
    --color-light-gray: #EDEBE8
}

html{
    overflow-x: hidden
}

body{
    margin: 0;
    padding: 0;
    background: var(--color-light-gray);
    font-family: var(--body-font-family);
    font-size: 14px;
    line-height: 25px;
    color: var(--color-dark);
    font-weight: 300;    
}

/*---- Headings ----*/
h1, h2, h3, h4, h5, h6{
    margin: 0 0 20px;
    padding: 0;
    font-family: var(--heading-font-family);
    color: var(--color-dark);
    font-weight: 400;
}
h1{
    font-size: 48px;
    line-height: 65px;
}
h2{
    font-size: 28px;
    line-height: 35px;
}
h3{
    font-size: 22px;
    line-height: 35px;
}
h4{
    font-size: 18px;
    line-height: 25px;
}

/*---- Default ----*/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: var(--color-dark);
    text-decoration: none;
}
p{
    margin: 0 0 30px;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
video{
    vertical-align: bottom;
}

/*---- Common ----*/
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.h-100{
    height: 100%;
}
.full-screen{
    height: 100vh;
}
.cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-hide{
    display: none;
}
.hidden{
    overflow: hidden;
}
.hidden-x{
    overflow-x: hidden;
}

/*---- Color ----*/
.color-light,
.color-light h2,
.color-light h3,
.color-light h4,
.color-light a{
    color: var(--color-light);
}

/*---- Text ----*/
.center{
    text-align: center;
}
.end{
    text-align: right;
}
.uppercase{
    text-transform: uppercase;
}

/*---- Position ----*/
.position-relative{
    position: relative;    
}
.position-absolute{
    position: absolute;
    z-index: 2;
}
.position-fixed{
    position: fixed;
}
.top-0{
    top: 0;
}
.start-0{
    left: 0;
}
.bottom-0{
    bottom: 0;
}

/*---- Layout ----*/
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;    
}

/*---- Margin ----*/
.mn-mt-40{
    margin-top: -40px;
}
.ms-auto{
    margin-left: auto;
}
.m-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-auto{
    margin-top: auto;
}
.mb-10{
    margin-bottom: 10px;
}

/*---- Padding ----*/
.px-100{
    padding-left: 100px;
    padding-right: 100px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
.py-150{
    padding-top: 150px;
    padding-bottom: 150px;
}
.py-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.py-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pt-120{
    padding-top: 120px;
}
.pt-100{
    padding-top: 100px;
}
.pt-80{
    padding-top: 80px;
}
.pt-60{
    padding-top: 60px;
}
.pt-50{
    padding-top: 50px;
}
.pt-40{
    padding-top: 40px;
}
.pt-30{
    padding-top: 30px;
}
.pb-150{
    padding-bottom: 150px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-10{
    padding-bottom: 10px;
}

/*---- Flexbox ----*/
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.no-wrap{
    flex-wrap: nowrap;
}
.d-inline-flex{
    display: inline-flex;
}
.flex-column{
    flex-direction: column;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}

/*---- Grid ----*/
.d-grid{
    display: grid;
}
.column-2{
    grid-template-columns: 1fr 1fr;
}
.column-3{
    grid-template-columns: 1fr 1fr 1fr;
}
.column-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*---- Overlay ----*/
.overlay:before,
.overlay:after{
    width: 100%;
    height: 50%;
    display: block;    
    position: absolute;
    left: 0;
    pointer-events: none;
    z-index: 1;
}
.top-bottom-overlay:before{    
    background-image: linear-gradient(rgb(0,0,0,0.5) 0%, transparent 100%);
    top: 0;
    content: "";
}
.top-bottom-overlay:after{
    background-image: linear-gradient(transparent 0%, rgb(0,0,0,1) 100%);
    bottom: 0;
    content: "";
}
.bottom-overlay:after{
    background-image: linear-gradient(transparent 0%, rgb(0,0,0,1) 100%);
    bottom: 0;
    content: "";  
}
.overlay-full:before{
    width: 100%;
    height: 100%;
    background: var(--color-dark);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    z-index: 1;
}

/*---- Site Header ----*/
.site-header{    
    z-index: 99;    
    transition: all ease 0.2s;
}
.site-nav ul{
    column-gap: 40px;
}
.site-nav li a{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;    
}
.site-nav li a:after{
    width: 0%;
    height: 1px;
    background: var(--color-light);
    display: block;
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.2s;
}
.site-nav li a.active:after{
    width: 100%;
    visibility: visible;
    opacity: 1;
}
.site-header:before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(0,0,0,0.5) 0%, transparent 80%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.2s;
    z-index: -1;
}
.header-overlay:before{
    opacity: 1;
    visibility: visible;
}
.header-overlay{
    padding-top: 30px;
    padding-bottom: 30px;
}


/*---- Blocks ----*/
.image-block img{
    width: 100%;
}
.position-block{
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.location-block{
    font-size: 12px;
    letter-spacing: 1.2px;    
}

/*---- Hero Section ----*/
.hero-section .summary-block{
    width: 100%;
    max-width: 750px;
    font-size: 18px;
    line-height: 28px;
    padding: 80px;
    bottom: 20px;
    left: 0; 
}
.hero-section h1{
    font-size: var(--font-size-38);
}
.hero-section h1 span.small{
    font-size: 12px;
    color: rgb(0,0,0,0.7);
    font-weight: 300;
    letter-spacing: 3px;
    position: absolute;
    top: 5px;
    left: -120px;    
}
.hero-section .cover{
    object-position: right center;
}

/*---- Image Banner Section ----*/
.video-banner-section{
    height: 250vh;
}
.video-banner-section .video-block-wrapper{
    height: calc(100vh - 82px);
    position: sticky;
    top: 82px;
}
.video-banner-section .video-block{
    transform: scale(0.25);    
}
.video-banner-section .video-block video{
    transition: transform 0.3s ease-out;
}
.video-banner-section .summary-block{
    top: 50%;
    transform: translateY(-50%);
}
.video-banner-section .heading-block{
    font-family: var(--heading-font-family);
    font-size: var(--font-size-48);
    line-height: 65px;
    transition: all ease 0.4s;
}
.video-banner-section .heading-block-1{
    font-size: 22px;
}
.video-banner-section .heading-block-2{
    opacity: 0;
    transform: translateY(100px);    
}
.video-banner-section video{
    opacity: 0;
    transition: all ease 0.2s;
}

/*---- Image Grid Section ----*/
.image-grid-section h2{
    margin: 0;
}
.image-grid-section .image-grid-wrapper{
    grid-template-columns: auto 55%;
    column-gap: 50px;
}
.image-grid-section .overlay:after{
    opacity: 0.5;
}
.image-grid-section-1 .summary-block{
    right: 50px;
    top: 50%;    
    transform: translateY(-50%);    
}
.image-grid-section-1 .image-block .summary-block{
    left: 50px;
    right: auto;
}
.image-grid-section-1 .video-block .summary-block{    
    padding-top: 197px;
}
.image-grid-section-1 .video-block{
    transform: translateY(-100px);
}
.image-grid-section-2 .grid-item-1{
    row-gap: 25px;
    place-items: end; 
    transform: translateY(-110px);
}
.image-grid-section-2 .grid-item-1 .image-block{
    row-gap: 30px;
}
.image-grid-section-2 .grid-item-1 h3{
    margin: 0 0 8px;
}
.image-grid-section-2 .grid-item-1 .video-block{
    max-width: 250px;
}
.image-grid-section-2 .grid-item-2{
    height: calc(100% - 110px);
}
.image-grid-section-2 .grid-item-2 .video-block{
    max-width: 500px;
}
.image-grid-section-2 .summary-block{
    top: 50%;    
    left: 60px;
    transform: translateY(calc(-50% - 9px));    
}
.image-grid-section-3 .image-grid-wrapper{
    grid-template-columns: 57% auto;
}
.image-grid-section-3 .video-block-wrapper h2{
    max-width: 350px;
}
.image-grid-section-3 .header-block h2{
    column-gap: 25px;
}
.image-grid-section-3 h2 img{
    width: auto;
    max-height: 25px;
    transform: translateY(9px);
}
.image-grid-section-3 .image-block-left .summary-block{
    padding: 60px;    
}
.image-grid-section-3 .images-block{
    row-gap: 30px;
}
.image-grid-section-3 .images-block .summary-block{
    width: calc(100% - 30px);
}
.image-grid-section-3 .video-block{
    opacity: 0;
    transition: all ease 0.2s;
}
.image-grid-section-3 .video-block-wrapper:hover .video-block{
    opacity: 1;
}

/*---- Slider Section ----*/
.slider-section .header-block{
    max-width: 500px;
}
.slider-section .header-block h2{
    max-width: 80%;
}

/*---- Opportunties Section ----*/
.opportunities .header-block h3{
    max-width: 400px;
}
.opportunity-images .d-grid{
    gap: 15px;
} 
.opportunity-images .image-block{
    height: 180px;
}
.opportunity-text-column .d-grid{
    max-width: 940px;    
    row-gap: 60px;
    column-gap: 60px;
}
.opportunity-text-column p{
    max-width: 380px;
}
.opportunity-text-column .summary-block{
    padding: 5px 0 0 80px;
}
.opportunity-text-column .icon-block{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

/*---- Team Section ----*/
.team-items{
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
    column-gap: 50px;
}
.team-item{
    grid-template-columns: 100px auto;    
    column-gap: 30px;
}
.team-item .image-block{
    width: 100px;
    height: 100px;
    border-radius: 50%;    
    overflow: hidden;    
}
.team-item h4{
    margin: 0 0 5px;
}

/*---- Contact Section ----*/
.contact-section{    
    border-top: 1px solid rgb(0,0,0,0.2);
}
.contact-wrapper{
    grid-template-columns: auto 55%;
    column-gap: 120px;
}
.contact-section .contact-block{
    padding: 140px 100px 40px;
}
.contact-section .summary-block{
    padding: 80px;
}
.contact-section li{
    margin: 0 0 5px;
}
.contact-section .overlay:after{
    opacity: 0.5;
}
.contact-section .image-block img{
    z-index: -1;
}

/*---- Input ----*/
.form-field{
    padding: 0 0 35px;
}
.form-field input,
.form-field textarea{
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0,0,0,0.2);
    border-radius: 0;
    font-family: var(--body-font-family);
    font-size: 12px;
    color: #000;
}
.form-field input:focus,
.form-field textarea:focus{
    box-shadow: none;
    outline: none;
}
.form-field textarea{
    padding: 12px 0 0;    
}
.submit-field .submit-button{
    width: auto;
    padding: 0;
    height: 40px;    
    background: none;
    border: none;    
    font-family: var(--heading-font-family);
    font-size: 22px;
    color: var(--color-dark);
    cursor: pointer;
    column-gap: 15px;
}
.submit-field .submit-button img{ 
    transform: translateY(3px);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--color-light-gray) inset;
}  
::-webkit-input-placeholder{
    color: #000;
    opacity: 0.8;
    text-transform: uppercase;
}
::-moz-placeholder{
    color: #000;
    opacity: 0.8;
    text-transform: uppercase;
}
:-ms-input-placeholder{
    color: #000;
    opacity: 0.8;
    text-transform: uppercase;
}
:-moz-placeholder{
    color: #000;
    opacity: 0.8;
    text-transform: uppercase;
}

/*---- Footer ----*/
.site-footer{
    border-top: 1px solid rgb(0,0,0,0.2);  
}
.site-footer li:not(:last-child){
    margin: 0 0 15px;
}
.site-footer li a {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;    
}
.address-block li{
    margin: 0 0 10px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.address-block li i{
    width: 30px;
    height: 30px;
    padding: 8px; 
    border: 1px solid rgb(0,0,0,0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-block li i img{
    width: 100%;
}
.site-footer .menu-block ul{
    gap: 10px;
}
.site-footer .menu-block li{
    margin: 0;
    position: relative;
}
.site-footer .menu-block li:after{
    width: 2px;
    height: 2px;
    margin: 0 0 0 0;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    content: "";  
    transform: translateY(1px);  
}
.site-footer .menu-block li:last-child:after{
    display: none;
}
.site-footer .menu-block li a{
    font-size: 10px;
    line-height: 10px;
}

/*---- Animation ----*/
[data-aos^=fade][data-aos^=fade]{
    filter: blur(15px);
    transition: all ease 0.1s;
}
[data-aos^=fade][data-aos^=fade].aos-animate{
    filter: none;
}
img[data-aos^=fade][data-aos^=fade]{
    filter: none;
}

/*---- Responsive ----*/
@media(max-width: 1280px){

    :root{
        --font-size-48: 40px;
    }
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 26px;
    }
    h4{
        font-size: 20px;
    }    
    .contact-section .summary-block{
        padding: 60px 40px;
    }
    .contact-wrapper{
        column-gap: 80px;
    }

}

@media(max-width: 1180px){

    .px-100{
        padding-left: 60px;
        padding-right: 60px;
    }
    .opportunity-text-column .d-grid{
        column-gap: 30px;
    }
    .opportunity-images .image-block{
        height: 160px;
    }   

}

@media(max-width: 1023px){

    body{
        line-height: 22px;
    }    
    .container{
        padding: 0 30px;
    }
    .mn-mt-40{
        margin-top: 0;
    }
    .m-w-100{
        width: 100%;
    }
    .m-py-80{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .m-py-70{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .m-py-30{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .m-px-30{
        padding-left: 30px;
        padding-right: 30px;
    }    
    .m-pt-70{
        padding-top: 70px;
    }
    .m-pt-50{
        padding-top: 50px;
    }
    .m-pt-0{
        padding-top: 0;
    }
    .m-pb-100{
        padding-bottom: 100px;
    }
    .m-pb-70{
        padding-bottom: 70px;
    }
    .m-pb-50{
        padding-bottom: 50px;
    }
    .m-pb-20{
        padding-bottom: 20px;
    }
    .m-pb-10{
        padding-bottom: 10px;
    }
    .m-center{
        text-align: center;
    }
    .m-color-light h1{
        color: var(--color-light);
    }
    .px-100{
        padding-left: 30px;
        padding-right: 30px;
    }
    .d-hide{
        display: block;
    }
    .section:not(.video-banner-section){
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .site-logo img{
        filter: invert(100%);
    }
    .site-nav{
        width: 100%;
        height: 100%;
        padding: 60px 30px 0;    
        background: var(--color-light-gray);    
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all ease 0.2s;
        z-index: 99;
    }
    .site-nav.open-menu{
        transform: translateX(0%);
    }
    .site-nav .close-menu{
        width: 25px;
        top: 30px;
        right: 30px;
    }
    .site-nav .close-menu img{
        width: 100%;
    }
    .site-nav ul{
        flex-direction: column;
        row-gap: 20px;
    }
    .site-nav li a{
        color: #000;
    }
    .site-nav li a:after{        
        background: var(--color-dark);       
    }
    .hero-section .summary-block{
        width: 100%;
        padding: 25px;
    }
    .image-grid-section .image-grid-wrapper{        
        column-gap: 20px;
    }
    .image-grid-section-1 .image-block-left img.aos-animate{
        margin-top: 0;
    }
    .image-grid-odd .image-grid-wrapper{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .image-grid-section-1 .video-block{
        height: auto;
    }
    .image-grid-odd .images-block{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    .image-grid-section .image-block-left .summary-block{
        left: -15px;
    }    
    .contact-wrapper{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }    
    .contact-section .summary-block{
        padding: 50px 25px;
    }
    .form-field{
        padding: 0 0 25px;
    }
    .submit-field .submit-button{
        font-size: 20px;        
    }
    .contact-section{
        height: auto;        
    }
    .contact-section .image-block img{
        position: static;
    } 
    .contact-section .contact-block {
        padding: 60px 40px 20px;
    }  
    .contact-block{
        gap: 80px;
    }

}

@media(max-width: 992px){

    .team-items {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;        
    }

}


@media(max-width: 767px){

    :root{
        --font-size-48: 36px;
    }
    h1{
        line-height: 40px;
    }
    h2{
        font-size: 26px;
        line-height: 34px;
    }
    h3{
        font-size: 24px;
        line-height: 30px;
    }
    h4{
        font-size: 18px;
        line-height: 26px;
    } 
    .sm-w-100{
        width: 100%;
    }
    .sm-pt-60{
        padding-top: 60px;
    }
    .sm-center{
        text-align: center;
    }    
    .header-overlay{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .site-logo img{
        max-width: 140px;
    }
    .hero-section h1 span.small{
        display: block;     
        color: #fff;   
        text-align: center;
        position: static;        
    }
    .video-banner-section .heading-block{
        line-height: 42px;
    }    
    .image-grid-section .image-grid-wrapper{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .image-grid-section .image-block-right .summary-block{
        left: 40px;
        bottom: 40px;
    }
    .image-grid-odd .image-block-left .summary-block {
        padding: 30px;
        left: 0;
    }
    .image-grid-section-1 .video-block,
    .image-grid-section-2 .grid-item-1{
        transform: none;
    }
    .image-grid-section-1 .summary-block{
        margin: 0 auto;
        padding-top: 0;
        left: 0;        
        right: 0;
    } 
    .image-grid-section-1 .video-block .summary-block{
        padding: 0;
    }
    .image-grid-section-2 .image-grid-wrapper{
        row-gap: 50px;
    }
    .image-grid-section-2 .grid-item-1{
        grid-template-columns: 1fr 1fr;
        column-gap: 40px;
    }
    .image-grid-section-2 .grid-item-2{
        height: auto;
    }
    .image-grid-section-2 .grid-item-2 .video-block{
        max-width: 100%;
    }
    .image-grid-section-2 .video-block{
        width: 100%;
    }
    .image-grid-section-2 .grid-item-2 .image-block{
        width: 100%;
    }
    .image-grid-section-2 .grid-item-1 .video-block{
        max-width: 100%;
        width: 100%;
    }
    .image-grid-section-2 .grid-item-1 .video-block img{
        width: 100%;
    }
    .image-grid-section-2 .summary-block{
        left: 0;
        right: 0;
        text-align: center;
    }
    .opportunity-images .d-grid{
        grid-template-columns: 1fr 1fr;
        gap: 2px;
    }
    .opportunity-text-column .d-grid{
        grid-template-columns: 1fr;
        place-items: center;
    }

}

@media(max-width: 575px){
        
    .hero-section .summary-block{
        font-size: 16px;
        line-height: 26px;
    }    
    .image-grid-odd .images-block {
        grid-template-columns: 1fr;
        column-gap: 20px;
    }
    .image-grid-odd .images-block{
        row-gap: 60px;
    }
    .image-grid-section-2 .grid-item-1{
        grid-template-columns: 1fr;
        column-gap: 40px;
    }
    .image-grid-section-2 .grid-item-1 .image-block{
        width: 100%;
    }
    .team-items{
        grid-template-columns: 1fr;        
    }
    .team-item{
        grid-template-columns: 80px auto;        
        column-gap: 20px;
    }
    .team-item .image-block{
        width: 80px;
        height: 80px;
    }
    .contact-section .summary-block h2{
        font-size: 20px;
        line-height: 28px;
    }
    .contact-section .summary-block h3{
        font-size: 16px;
    }
    .opportunity-images .d-grid{
        grid-template-columns: 1fr;        
    }
    .opportunity-text-column p{
        max-width: 100%;
    }
    .opportunity-text-column .d-grid{
        row-gap: 10px;
    }
    .opportunity-text-column .icon-block{
        width: 45px;
        height: 45px;
    }
    .opportunity-text-column .summary-block{
        padding: 5px 0 0 65px;
    }

}

@media(max-width: 360px){

    .m-px-30 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container{
        padding: 0 20px;
    }
    .px-100{
        padding-left: 20px;
        padding-right: 20px;
    }   
    .contact-section .contact-block {
        padding: 60px 20px 20px;
    } 

}